body {
  margin: 0;
  text-align: center;
  /* background-image: url("/Users/geoffreygayhart/Desktop/cafe/Cafe Website challenge/images/cafe.jpg"); */
  background-image: url("images/cafe.jpg");
  background-size: cover;
}

h3 {
font-family: 'Kaushan Script' ;
}
p {
  font-family: 'Open Sans Condensed' ;
}

.top {
  background-color: white;
  text-align: center;
  margin: 0;
}

.cafe-logo {
  width: 170px;
  margin: auto;
}
.nav {
  color: #be7432;
  font-family: 'Kaushan Script' ;
  margin: 5px 10px;
  text-decoration: none;
}

.container {
  width: 50%;
  margin: auto;
}

.top-rule {
  border: dashed #000000 3px;
  border-bottom: none;
  width: auto;
  margin: auto;
}

.menus {
background-color: #ffffff;
font-family: 'Open Sans Condensed' ;
text-align: center;
padding-top: 20px;
}
.align-left {
  text-align: left;
}
.coffee-menu {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 4px dotted black;
}

.tea-menu {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border: 4px dotted black;
}

.middle-rule {
  border: dashed #000000 3px;
  border-bottom: none;
  width: 60%;
  margin: 5px auto;
}

.td-bottom {
  border-bottom: 1px solid black;
}
.specials {
  background-color: #ffffff;
  margin: 0;
  padding: 20px;
}

.about-cafe {
  background-color: #ffffff;
  margin: auto;
  padding: 50px;
}
.specials-pic1 {
  width: 100px;
  border-radius: 50%;
  margin: 20px 20px;
}
.specials-pic2 {
  width: 100px;
  border-radius: 50%;
  margin: 20px 20px;
}
.specials-pic3 {
  width: 100px;
  border-radius: 50%;
  margin: 20px 20px;
}
.special1 {
  display: inline-block;
  width: 30%;
}
.special2 {
  display: inline-block;
  width: 30%;
}
.special3 {
  display: inline-block;
  width: 30%;
}

.contact {
  background-color: #ffffff;
  padding: 25px;
  margin-bottom: 20px;
}

.contact-form {
  font-family: 'Open Sans Condensed' ;
  font-weight: 700;
}

.submit {
	background-color:#be7432;
	border-radius:10px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 25px;
	text-decoration:none;
	text-shadow:0 1px 0 #2f6627;
  margin-bottom: 10px;
}
.submit:hover {
	background-color:#5cbf2a;
}
.submit:active {
	position:relative;
	top:1px;
}

.social {
  width: 50px;
  margin: auto 5px;
  border-radius: 50%;
}
